:root {
  --pageContentWidth: 800px;
  --mainPadding: calc((100% - var(--pageContentWidth)) / 2);
  --black: #000;
  --red: #a62639;
  --grey: #eceff1;
  --warning: #f46036;
  --white: #fff;
  --hoverColor: hsl(100, 23%, 3%);
  --primaryColor: #5d737e;
  --green: #09ae43;
  --selectedColor: #79c7c5;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  line-height: normal;
  margin-top: 2.4rem;
}

.corner-radius-8 {
  border-radius: 8px;
}

article,
main {
  margin-bottom: 2em;
}

hr {
  border: none;
  border-top: 1px solid var(--black);
  opacity: 0.2;
}

blockquote {
  border-left: 2px solid var(--black);
  font-style: italic;
  font-weight: 300;
  margin: 2em 0;
  padding: 0 2em;
}

html,
body {
  background: var(--white);
  color: var(--black);
  transition: background 200ms, color 200ms;
}

a {
  color: var(--dark) !important;
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid var(--blue);
  }
}

.btn {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  background: var(--black);
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 200ms;
  text-decoration: none;
  color: var(--white);

  &.small {
    padding: 0.2rem 0.5rem;
  }

  &.link-btn {
    color: var(--black);
    background: none;
    text-decoration: underline;
  }

  &.has-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    color: var(--black);
  }

  &.icon-btn {
    width: 100%;
    color: var(--black);
    display: grid;
    place-items: center;
  }
  &.danger {
    background: var(--red);
    color: var(--white);
  }
  &.warning {
    background: var(--warning);
    color: var(--white);
  }
  &.success {
    background: var(--green);
    color: var(--whiteblack);
  }
  &.submit {
    filter: brightness(80%);
    &:hover:enabled {
      filter: brightness(75%);
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:hover:enabled {
    filter: brightness(110%);
  }
  &:focus:enabled {
    outline: 2px solid var(--blue);
  }
}

.bold {
  font-weight: bold;
}

.tooltip-overwrite {
  font-size: 0.9rem !important;
  opacity: 1 !important;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  @media (min-width: 632px) {
    .container {
      padding-left: var(--mainPadding);
      padding-right: var(--mainPadding);
    }
  }
}

.fill-image {
  position: relative;

  border-radius: 8px;
  width: 100%;
}

.bordered-image {
  border: 1px solid var(--gray) !important;
  box-sizing: border-box !important;
}

.error {
  color: #a62639;
}

.success {
  color: #49a078;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  button {
    margin-top: 2rem;
  }
}
