.nav {
  background: #fff;
  height: 60px;
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
}

.navLink {
  color: #fff;
  text-decoration: none;
}
